/*
   Author: Renan Rossini de Oliveira - w0444914

*/

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

    nav{
        display: block;
        width: 100%;
    }

    nav ul>li>a{
        display: block;
    
    }

    nav ul>li{
        float: left;
    }

    nav ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }
}

.information-img-container {
    width: 100%;
}

.information-img {
    width: 100%;
}