/*
   Author: Renan Rossini de Oliveira - w0444914

*/

.main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding-left: 9%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.big-image {
    width: 100%;
}

.big-image-goals {
    width: 60%;
}

.big-image-contact {
    width: 40%;
}
