/*
   Author: Renan Rossini de Oliveira - w0444914

*/

.main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: brown;
    padding-left: 9%;
    padding-right: 5%;
}

.big-image {
    width: 100%;
}